.text-light {
    color: #fff;
}
.phase-headingwrap {
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 25px 15px;
    width: 135px;
    line-height: normal;
    text-align: center;
    height: 135px;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 20px;
}
#slider-area.home-style-1 {
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    padding-top: 90px;
    position: relative;
}
.pahseecompletedtxt {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600 !important;
    color: #673AB7;
    text-shadow: none;
}
.slider-text h1 {
    color: #fff;
    font-size: 43px;
    font-weight: 700;
    margin-bottom: 51px;
    text-transform: uppercase;
}
.download-app3 {
    position: relative;
    z-index: 1;
}
.ptb-50 {
    padding: 50px 0;
}
.section-heading {
    margin: 0 auto 80px;
    width: 60%;
}
.section-heading h2 {
    margin-bottom: 25px;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
	color: #f39c12;
    font-weight: 550;
}
.download-app3 h1, .download-app3 p {
    color: #fff;
}
.phase-wrap p {
    width: 100%;
}
.slider-text p {
    color: #fff;
    font-size: 20px;
    width: 86%;
}
.section-heading h2:after {
    background: rgba(0, 0, 0, 0) url(img/others/line-shape.png) no-repeat scroll 0 0;
    content: "";
    height: 11px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 73px;
}
i.tdicon {
    font-size: 12px;
    color: #f39c12;
}


.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: #1d1407;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 20px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #f39c12;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1458530970867-aaa3700e966d") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #f39c12 0%, #1d1407 100%) repeat scroll 0 0;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}


@media (max-width: 767px) and (min-width: 320px)
#slider-area.home-style-1:before, #slider-area.home-style-1:after {
    border-top: 70px solid transparent;
}

