<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
 <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="css/responsive.css" rel="stylesheet"> 
 <link href="css/slick.css" rel="stylesheet"> 
  <link href="css/animate.css" rel="stylesheet">
  </head>
  <body>
<section id="slider-area" class="home-style-1 blue-grad-bg particle-bg">
                   
                    <div class="slider-wrapper slick-initialized slick-slider">
                        <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1423px;"><div class="slide one slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1423px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                            <div class="container">
                                <div class="slider-text">
                                    <!--<div class="slider-text wow fadeIn">-->
                                    <div class="col-md-12 text-center">
										<h1>Phase: 1 , 2, 3 &amp; 4 Completed Successfully!!</h1>
                                    </div>
									<div class="col-md-12">
                                <div class="download-app3">
                                    <!-- <h1 class="text-light  text-center">Phases of ICO</h1> -->
									<div class="row">
                                    <div class="col-md-3">
                                        <div class="awesome-feature one media phase-wrap">
                                            <div class="asesome-feature-details media-body ">

                                                <div class="text-light phase-headingwrap">PHASE <br><span class="phasenotxt">1</span></div>
                                                <p class="text-light text-center">
													OCTOBER 2017<br>
													<span class="pahseecompletedtxt">COMPLETED SUCCESSFULLY !!!</span><br>
                                                    1 jiviz Token: $0.10<br>
                                                    Total supply of Tokens: 1 Million
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="awesome-feature one media phase-wrap">
                                            <div class="asesome-feature-details media-body">
                                                <div class="text-light phase-headingwrap fadeOutLeft">PHASE <br><span class="phasenotxt">2</span></div>
                                                <p class="text-light text-center">
													NOVEMBER 2017<br>
													<span class="pahseecompletedtxt">COMPLETED SUCCESSFULLY !!!</span><br>
                                                    1 jiviz Token: $0.25<br>
                                                    Total supply of Tokens: 1 Million
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="awesome-feature one media phase-wrap">
                                            <div class="asesome-feature-details media-body">
                                                <div class="text-light phase-headingwrap">PHASE <br><span class="phasenotxt">3</span></div>
                                                <p class="text-light text-center">
													DECEMBER 2017<br>
													<span class="pahseecompletedtxt">COMPLETED SUCCESSFULLY !!!</span><br>
                                                    1 jiviz Token: $0.40<br>
                                                    Total supply of Tokens: 2 Million
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="awesome-feature one media phase-wrap">
                                            <div class="asesome-feature-details media-body">
                                                <div class="text-light phase-headingwrap">PHASE <br><span class="phasenotxt">4</span></div>
                                                <p class="text-light text-center">
													DECEMBER 2017 <br>
													<span class="pahseecompletedtxt">COMPLETED SUCCESSFULLY !!!</span><br>
                                                    1 jiviz Token: $0.50<br>
                                                    Total supply of Tokens: 2 Million
                                                </p>
                                            </div>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                                    </div>
                                </div>
                            </div></div></div>
                        </div>
                </section>
				
				<section id="app-download-area2" class="ptb-50 tokensaleswrap">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading text-center">
                                    <h2>TOKEN SALE TERMS</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <center>
                            <img src="img/token.png" class="img-responsive" style="width: 70%;" alt="TOKEN SALE TERMS">
                        </center>
                            </div>
                            <div class="col-md-6">
                                <div class="">
                                     <p style = "line-height:2; font-size:15px;">
                                        Purchase methods accepted: Bitcoin and Ethereum
							
                                        <br>
                                        Maximum coin supply: 830 million 
							<br>
                                        Pre Mine: 180.8 million 
                                        <br>
                                        Total token sold in ICO: 135.6 Million
												<!-- <br> -->
											
										<!-- 1.85 Million USD raised in ICO Succesfully. -->
										<!-- <br> -->
										<!-- 7.8 Million USD is the total Market Cap. -->
										<!-- <br> -->
                                        <br>
                                        Token Distribution
							<br>
                                        <i class="fa fa-circle tdicon" aria-hidden="true"></i> 75% of 8 million for ICO 
							<br>
                                        <i class="fa fa-circle tdicon" aria-hidden="true"></i> 15% of 8 million for ADVERTISING AND MARKETING.
							<br>
                                        <i class="fa fa-circle tdicon" aria-hidden="true"></i> 10% of 8 million for TEAM
							<br>
                                        

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
				
				<section id="coin" class="ptb-50">
				<div class="container">
				<div class="row">
                            <div class="col-md-12">
                                <div class="section-heading text-center">
                                    <h2>COIN SPECIFICATIONS</h2>
                                </div>
                            </div>
                        </div>
				<div class="row">
					<div class="col-md-5 col-md-offset-1 ">
								<p style="font-weight: 600;font-size: 18px;">
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								  Coin name:  jiviz.
								<br>
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								 Ticker : jiviz
								<br>
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								 Algorithm : ETHASH
								<br>
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								 Max supply : 830000000
								<br>
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								Pre-mined : 18.8 Crore
								</p>
					</div>
					<div class="col-md-6">
								<p style="font-weight: 600;font-size: 18px;">
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								  Accepted Currency: BTC, ETH, .
								<br>
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								Emission rate : 3 Every 15 seconds approx..
								<br>
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								  Block Time: 15 seconds approx..
								<br>
								
								
								<i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								 Block Rewards: 3 jiviz, per block.
								 <br>
								 <i class="fa fa-bullseye" style="font-size: 15px; padding: 10px;"></i>
								 Average Block time : 13-16 seconds
								</p>
					</div>
				</div>
			</div>
				</section>
				
				<section id="roadmap-area" class="ptb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-heading text-center">
                                    <h2>ROADMAP</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="timeline">
                                    <div class="">
                                        <div class="timeline-item">
                                            <div class="timeline-img"></div>

                                            <div class="timeline-content">
											<div class="f-box wow fadeInUp" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
                                                <div class="date">Registration in exchanges </div><br><br>
                                                <p>
                                                   Along with Ethereum, we will be registering at various leading cryptocurrency exchanges, so that our users can transact, trade and mine across various currencies. While this will bring diversity to the ecosystem, making the currency stronger, the users will also have a diverse investment portfolio. 
                                                </p>
                                            </div>
											</div>
                                        </div>


                                        <div class="timeline-item">

                                            <div class="timeline-img"></div>

                                            <div class="timeline-content">
                                                <div class="date">T-Coin Contracts through jiviz Wallet</div><br>
                                                <p>
                                                  Currently, the jiviz wallet stores T-Coins but doesn’t generate T-Coin contracts directly. Efforts are underway to add functionality that supports accessing and generating T-Coins embedding a smart contract directly from the wallet for ease-of-usage for the user. Hence, users will be able to convert the smart contract code to ABI and deploy it to contract address directly from jiviz Wallet. 
                                                </p>
                                            </div>
                                        </div>

                                        <div class="timeline-item">

                                            <div class="timeline-img"></div>

                                            <div class="timeline-content">
                                                <div class="date">Wallets Apps for iOS, Android Desktops</div><br><br>
                                                <p>
                                                    Currently, we support a hardware wallet, accessible through our platform on an internet-enabled computing device. In future, we seek to develop and make available wallet applications across various mobile platforms including but not limited to Android, iOS, and others as we go on. For desktop access, we will develop wallets for Linux, MacOS, and Window OS. These will be rolled out as soon as the development process gets over. A limited section of our users will get the beta version for performance and interface testing and once cleared by all channels, the wallet apps will be released across countries. 
                                                </p>
                                            </div>
                                        </div>

                                        <div class="timeline-item">

                                            <div class="timeline-img"></div>

                                            <div class="timeline-content">
                                                <div class="date">Move to a hybrid PoW/PoS system. </div><br>
                                                <p>
                                                   In step with Ethereum, we are aiming to adapt to the latest standard of the industry. While we follow the Proof of Work consensus protocol, we aim to move to the Hybrid Proof of Work/Proof of Stake system, until we gain in foothold on the Casper on Proof of Stake consensus algorithms development
                                                </p>
                                            </div>
                                        </div>

                                      

                                       

                                       

                                       

                                        


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
				
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <
   <script src="js/bootstrap.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/plugins.js"></script>
  <script>
  $(document).ready(function() {
  //Fixing jQuery Click Events for the iPad
  var ua = navigator.userAgent,
    event = (ua.match(/iPad/i)) ? "touchstart" : "click";
  if ($('.table').length > 0) {
    $('.table .header').on(event, function() {
      $(this).toggleClass("active", "").nextUntil('.header').css('display', function(i, v) {
        return this.style.display === 'table-row' ? 'none' : 'table-row';
      });
    });
  }
})
</script>
  </body>
</html>